{% extends "base.html" %}
{% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %} 


{% block content %}
  <h1>Top Doses</h1>

    <form method="get" action="{% url 'dose-index' %}">
      <label for="category">Filter by category:</label>
      <select name="category" id="category" onchange="this.form.submit()">
        <option value="general" {% if selected_category == "general" %}selected{% endif %}>General</option>
        <option value="world" {% if selected_category == "world" %}selected{% endif %}>World</option>
        <option value="business" {% if selected_category == "business" %}selected{% endif %}>Business</option>
        <option value="technology" {% if selected_category == "technology" %}selected{% endif %}>Technology</option>
        <option value="sports" {% if selected_category == "sports" %}selected{% endif %}>Sports</option>
        <option value="science" {% if selected_category == "science" %}selected{% endif %}>Science</option>
        <option value="health" {% if selected_category == "health" %}selected{% endif %}>Health</option>
        <option value="entertainment" {% if selected_category == "entertainment" %}selected{% endif %}>Entertainment</option>
        <option value="nation" {% if selected_category == "nation" %}selected{% endif %}>Nation</option>
      </select>
    </form>

    <ul class="card-container">
      {% for dose in doses %}
        <li class="card">
          <a class="card-link" href='{% url 'dose-detail' dose.id %}'>
            <img class="card-image" src="{{ dose.image }}" alt="{{ dose.title}}">
            <h2 class="heading">{{ dose.title }}</h2>
            <p><strong>Source:</strong> {{ dose.source.name }}</p>
            <p><strong>Published At:</strong> {{ dose.published_at }}</p>
            <p>Read more</p>
          </a>
        </li>
      {% endfor %}
    </ul>
{% endblock %}